---
title: 涵涵的博客
layout: layouts/home.njk
description: 
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p style="text-align:center;"> 嗨你好，我是韩涵。我是一名成都大学自动化的学生，但是我热爱code，热爱前端，因此我投身于他。 </p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>